@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Calistoga&family=Gloria+Hallelujah&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap');

body{
    background-color: #6B818C;
}

:root{
    --bg-color: #CC2936;
    --text-color: #08415C;
    --alt-color1: #F1bf98;
    --alt-color2: #EEE5E9;
}


.navbar{
    display: flex;
    background: var(--bg-color);
    height: 4rem;
    width: 100%;
    border-radius: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.siteTitle{
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

.navButton{
    margin: 0 2rem;
    background: var(--alt-color1);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--text-color);
    font-size: 1.5rem;
}

.navButton:hover{
    background-color: var(--alt-color2);
}

.searchInfo{
    display: flex;
    background: var(--alt-color2);
    margin-top: 3rem;
    padding: 2rem;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: var(--text-color);
}