body{
    background-color: #08415C;
}

:root{
    --bg-color: #CC2936;
}


.navbar{
    display: flex;
    background: var(--bg-color);
    height: 4rem;
    width: 100%;
    border-radius: 0.5rem;
    justify-content: space-between;
    align-items: center;
}