@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Calistoga&family=Gloria+Hallelujah&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap');

body{
    background-color: #6B818C;
}

:root{
    --bg-color: #CC2936;
    --text-color: #08415C;
    --alt-color1: #F1bf98;
    --alt-color2: #EEE5E9;
}


.navbar{
    display: flex;
    background: var(--bg-color);
    height: 4rem;
    width: 100%;
    border-radius: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.siteTitle{
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

.navButton{
    margin: 0 2rem;
    background: var(--alt-color1);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--text-color);
    font-size: 1.5rem;
}

.navButton:hover{
    background-color: var(--alt-color2);
}

.searchInfo{
    display: flex;
    background: var(--alt-color2);
    margin-top: 3rem;
    padding: 2rem;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: var(--text-color);
}

.searchBar .movieSearch, button{
    font-size: 1rem;
}

.movieNumberBar .movieNumberSearch{
    font-size: 1rem;
}

.movieList{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: var(--alt-color1);
    gap: 1rem;
    border-radius: 0.25rem;
    border: solid 1rem var(--alt-color1);
    position: relative;
}

.movieList img{
 width: 100%;
 height: 100%;
 box-shadow:.5rem .5rem rgba(0, 0, 0, 0.7);
 transition: all 1s ease-in;
}

.movieList img:hover{
    opacity: 15%;
    cursor: pointer;
}

.moviePoster{
    position: relative;
}

.moviePoster img{
z-index: 2;
position: inherit;
}

.movieInfo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.movieInfo .movieName, .movieYear{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pageArrows {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageArrowIcons {
    font-size: 2rem;
}

.pageArrowIcons i{
    margin: 1rem;
    color: var(--alt-color2);
}

.pageArrowIcons i:hover{
    color: var(--alt-color1);
    cursor: pointer;
}

@media(max-width:1024px){
  .siteTitle {
    font-size: 1.5rem;
  }  
  .navButton {
    font-size: 1rem;
  }
}

@media(max-width:768px){
    .siteTitle{
        font-size: 0.8rem;
    }

    .navButton{
        font-size: 0.45rem;
        padding: 0.8rem;
        margin: 0 1rem;
    }

    .searchInfo{
        font-size: 1.25rem;
    }

    .searchBar .movieSearch{
     width: 70%;   
    }
}

@media(max-width: 480px){
    .siteTitle {
        font-size: 60%;
    }
    
    .navButton{
        margin: 0 8px;
    }

    .searchContainer{
        margin-left: -16px;
    }

    .movieSearchTitle{
        font-size: 70%;
    }

    .searchBar .movieSearch{
        width: 60%;   
       }

      .searchBar button{
        font-size: 70%;
      } 

      .numberOfMovies{
        margin-right: -1rem;
      }

    .movieSearchResults{
        font-size: 70%;
    }

    .movieNumberBar .movieSearchNumber{
        width: 60%;
    }

    .movieInfo{
        font-size: 70%;
    }
}